.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

/* CSS para o efeito de hover */
a:hover .bi-whatsapp {
    fill: #25d366;
    /* Altere a cor conforme desejado */
}

/* CSS para o efeito de hover */
li:hover .bi-github {
    fill: #000000;
    /* Altere a cor conforme desejado */
}

/* CSS para o efeito de hover */
li:hover .bi-linkedin {
    fill: #0e76a8;
    /* Altere a cor conforme desejado */
}

/* CSS para o efeito de hover */
li:hover .bi-instagram {
    fill: #c13584;
    /* Altere a cor conforme desejado */
}

/* CSS para o efeito de hover */
li:hover .bi-twitter {
    fill: #1da1f2;
    /* Altere a cor conforme desejado */
}

/* CSS para o efeito de hover */
li:hover .bi-facebook {
    fill: #1877f2;
    /* Altere a cor conforme desejado */
}


.logo {
    width: 100px;
    height: auto;
  }
  
  .logo:hover {
    filter: brightness(1.2);
  }
  
  .menu {
    filter: url("#shadowed-goo");
  }
  
  .menu-open-button, .menu-item {
    background: #00bcd4;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: -40px; /* Alterado para margin-left */
    position: absolute;
    top: 20px;
    color: white;
    text-align: center;
    line-height: 80px;
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
  }
  
  .menu-open {
    display: none;
  }
  
  .hamburger {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    transition: transform 200ms;
  }
  
  .hamburger-1 {
    transform: translate3d(0, -8px, 0);
  }
  
  .hamburger-2 {
    transform: translate3d(0, 0, 0);
  }
  
  .hamburger-3 {
    transform: translate3d(0, 8px, 0);
  }
  
  .menu-open:checked + .menu-open-button .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  .menu-open:checked + .menu-open-button .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
  }
  .menu-open:checked + .menu-open-button .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
  
  .menu {
    position: absolute;
    right: 50%; /* Alterado para right */
    margin-right: -80px; /* Alterado para margin-right */
    padding-top: 20px;
    padding-right: 80px; /* Alterado para padding-right */
    width: 650px;
    height: 150px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: right;
  }
  
  .menu-item:hover {
    background: white;
    color: #00bcd4;
  }
  .menu-item:nth-child(3) {
    transition-duration: 180ms;
  }
  .menu-item:nth-child(4) {
    transition-duration: 180ms;
  }
  .menu-item:nth-child(5) {
    transition-duration: 180ms;
  }
  .menu-item:nth-child(6) {
    transition-duration: 180ms;
  }
  
  .menu-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
  }
  
  .menu-open-button:hover {
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  }
  
  .menu-open:checked + .menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  }
  
  .menu-open:checked ~ .menu-item {
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 190ms;
    transform: translate3d(-110px, 0, 0); /* Alterado para translate3d(-110px, 0, 0) */
  }
  .menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 290ms;
    transform: translate3d(-220px, 0, 0); /* Alterado para translate3d(-220px, 0, 0) */
  }
  .menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 390ms;
    transform: translate3d(-330px, 0, 0); /* Alterado para translate3d(-330px, 0, 0) */
  }
  .menu-open:checked ~ .menu-item:nth-child(6) {
    transition-duration: 490ms;
    transform: translate3d(-440px, 0, 0); /* Alterado para translate3d(-440px, 0, 0) */
  }